SOLANA_CLUSTER="localnet"
SOLANA_RPC_URL="http://127.0.0.1:8899"
SOLANA_USDC_MINT="REPLACE_AFTER_LOCALNET_SETUP"
SOLANA_TREASURY_WALLET="REPLACE_AFTER_LOCALNET_SETUP"
DEFAULT_AUTHORIZED_WALLETS="REPLACE_AFTER_LOCALNET_SETUP"
FUNDING_WATCH_ENABLED="true"
FUNDING_WATCH_INTERVAL_MS="3000"
FUNDING_PERSISTENCE_MODE="memory"

LOCALNET_PAYER_KEYPAIR="REPLACE_AFTER_LOCALNET_SETUP"
LOCALNET_TREASURY_KEYPAIR="REPLACE_AFTER_LOCALNET_SETUP"
LOCALNET_COMPANY_KEYPAIR="REPLACE_AFTER_LOCALNET_SETUP"
LOCALNET_COMPANY_TOKEN_ACCOUNT="REPLACE_AFTER_LOCALNET_SETUP"
LOCALNET_TREASURY_TOKEN_ACCOUNT="REPLACE_AFTER_LOCALNET_SETUP"
LOCALNET_USDC_MINT="REPLACE_AFTER_LOCALNET_SETUP"
LOCALNET_USDC_DECIMALS="6"
LOCALNET_API_URL="http://localhost:4000"
